body {
    background: url('bg1.jpg');
    background-size: cover; 
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-top: 100px;

}
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0%;
    left: 0%;
    right: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    margin-bottom: 20px;
    padding: 0%;
    box-sizing: border-box;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}
.nav-left {
    display: flex;
    margin-left: 35pt;
}
.nav-left {
    align-items: center;
    gap:10px
}
.nav-left img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    transform-origin: top left;
    transform: scale(1);
}
.nav-left img:hover{
    transform: scale(5);
}
p{
    color: aliceblue;

}
.nav-right
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 25pt;   
} 
.nav-right {
    justify-content: flex-end;
}
a {
    color: white;
    text-decoration: none;
    transition: 0,3s;
}
a:hover{
    color: orange;
}

.judul {
    color: white;
    text-align: left;
    margin-top: 125pt;
    margin-left: 30pt;
    font-size: 45pt;
}
.judul h1{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0pt;
    margin-bottom: 0pt;
    padding: 0pt;
    line-height: 20pt;
}
.judul h3{
    font-family: "montserat",sans-serif;
    font-size: 30px;
    line-height: 40pt;
}
.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    margin-left: 615px;
    margin-right: 30px;
    margin-top: -270px;
    padding: 20px;
    border-radius: 10px;
    scroll-margin-top: 65px;
}

.hobi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 750px;
    margin-top: 50px;
}

.karya {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: -241px;
    margin-left: 615px;
}

.karya img{
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    transform: scale(0,3s);
    border: 5px solid white;
    border-color: white;
}
.karya img:hover{
    transform: scale(1.1);
}

.from {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 35px;
    margin-bottom: 0px;
}

.footer {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10);
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left : 0px;
    left: 0%;
    right: 0%;
    width: 100%;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

